body {
  font-family: 'Open sans';
  color: rgb(30,30,30);
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: #42BEFA;
}
a {
  color: rgb(180,180,180);
  text-decoration: none;
}
a:hover {
  color: #42BEFA;
  text-decoration: none;
  transition: ease 5sec;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-white{
  background-color: white;
  padding: 30px;
  text-align: center;
  margin: 30px ;
  border-radius: 5px;
  border: 1px solid rgb(220,220,220) ;
}

.box-white h3{
  height: 52px;
  overflow: hidden
}

.banner{
  background-image: url("images/banner.jpeg");
  background-size: cover;
  padding: 135px 0;
  text-align: center;
}
.banner > h1, h2{
  text-shadow: 1px 1px 6px rgb(80,80,80);
}
.button-green{
  background-color: #42BEFA;
  padding: 10px;
  color: white;
  border-radius: 2px;
  border: none;
}
.button-green:hover{
  background-color: #2986b2;
  color: rgb(180,180,180);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



.top-right-corner {
  position: absolute;
  top: 10px;
  right: 10px;
}

.img-rounded{
  border-radius: 50%;
  border: 1px solid rgb(150,150,150)
}

footer{
  position: relative;
}

footer ul{
  position: absolute;
  right: 5%;
}

footer .list-inline >li{
  color: rgb(120,120,120);
  font-size: 26px;
  padding: 10px 20px;
}

footer li:hover{
  color: #42BEFA;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


nav {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 1;
}

nav li {
  text-align: center;
  text-shadow: 1px 1px 6px rgb(80,80,80);
}


nav li a {
  text-decoration: none;
  color: white;
  font: 25px/1 Raleway;

}
.cell-padded{
  padding: 10%
}
.cell-padded img{
  width: 80%
}

td>h3, td>p {
  text-align: left
}
